[Desktop Entry]
Comment=Lush for Plasma KDE
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Lush
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=adhemarks@gmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=Lush
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults
